.check-box {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  .check-box-container {
    display: flex;
    .check-txt {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      .txt-header {
        font-weight: bold;
      }
    }
  }
  svg {
    margin-right: 21px;
  }
}